node_modules
02-react-native/01-learn-demo/android/local.properties
.DS_Store
android/.gradle
android/.idea
android/app/build
android/local.properties
ios/build
ios/Pods
Podfile.lock
02-react-native/01-learn-demo/ios/.xcode.env.local
02-react-native/01-learn-demo/.DS_Store
ios/RNDemo.xcworkspace/contents.xcworkspacedata