node_modules
.idea/
.vscode/
*.log
*.tmp
android/app/build
02-react-native/01-learn-demo/android/.gradle/8.3/executionHistory/executionHistory.lock
__tests__
.bundle/
idea
android/app/build/
android/.gradle/
ios/build/
.gradle
android/.idea
android/.gradle
android/local.properties
.DS_Store